$textcolor: #586166;

body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: $textcolor;
}

header {
  padding: 29px 0;
  position: fixed;
  top: 0;
  width: 100%;
  background: none;
  -webkit-transition: background 300ms linear;
  -moz-transition: background 300ms linear;
  -o-transition: background 300ms linear;
  -ms-transition: background 300ms linear;
  transition: background 300ms linear;
  .container {
    position: relative;
  }
  h1 {
    margin: 0;
    display: block;
    text-indent: 100%;
    overflow: hidden;
    width: 179px;
    height: 42px;
    background-image: url(images/logo_white.png);
    background-position: top left;
    background-repeat: no-repeat;
  }
  nav {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        margin-left: 30px;
        &:first-child {
          margin-left: 0;
        }
        a {
          text-transform: uppercase;
          color: #fff;
        }
      }
    }
  }
  &.scroll {
    background: #fff;
    -webkit-transition: background 300ms linear;
    -moz-transition: background 300ms linear;
    -o-transition: background 300ms linear;
    -ms-transition: background 300ms linear;
    transition: background 300ms linear;
    h1 {
      background-image: url(images/logo.png);
    }
    nav {
      ul {
        li {
          a {
            color: $textcolor;
          }
        }
      }
    }
  }
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  width: 0;
  clear: both;
}

section {
  padding: 100px 0;
  clear: both;
  &.texture-bg {
    background-image: url(images/crossword.png);
    background-position: top left;
    background-repeat: repeat;
  }
}

.container {
  width: 90%;
  max-width: 1025px;
  margin: 0 auto;
}

h2 {
  margin-top: 0;
  font-weight: normal;
  font-size: 28px;
}

h3 {
  font-weight: 300;
  font-size: 28px;
  margin-top: 0;
}

p {
  line-height: 1.4;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: $textcolor;
  &.btn {
    padding: 15px 35px;
    border: 1px solid $textcolor;
    border-radius: 4px;
    background: #fff;
    display: inline-block;
    &:hover {
      opacity: 0.5;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

.alignright {
  float: right;
  border-radius: 100%;
  margin-left: 2%;
  width: 23%;
}

#hero {
  background-image: url(images/hero_image.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 254px 0 154px;
  .hero-text {
    font-size: 28px;
    color: #fff;
    font-weight: 300;
    text-align: center;
    width: 85%;
    margin: 0 auto;
  }
}

#about {
  .content {
    width: 75%;
  }
}

#portfolio {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      display: block;
      float: left;
      width: 23%;
      margin-left: 2%;
      margin-bottom: 2%;
      background: $textcolor;
      height: 150px;
      &:nth-child(4n+1) {
        margin-left: 0;
        clear: left;
      }
    }
  }
}

#contact {
  text-align: center;
  h3 {
    margin-bottom: 25px;
  }
}

footer {
  padding: 35px 0;
  text-align: center;
  p {
    margin: 0;
    font-size: 12px;
  }
}