body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: #586166; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: none;
  -webkit-transition: background 300ms linear;
  -moz-transition: background 300ms linear;
  -o-transition: background 300ms linear;
  -ms-transition: background 300ms linear;
  transition: background 300ms linear; }
  header .container {
    padding: 29px 0;
    position: relative; }
  header h1 {
    margin: 0; }
    header h1 a {
      display: block;
      text-indent: 100%;
      overflow: hidden;
      width: 179px;
      height: 42px;
      background-image: url(images/logo_white.png);
      background-position: top left;
      background-repeat: no-repeat; }
      header h1 a:hover {
        opacity: 0.5; }
  header nav {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%); }
    header nav ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      header nav ul li {
        display: inline-block;
        margin-left: 30px; }
        header nav ul li:first-child {
          margin-left: 0; }
        header nav ul li a {
          text-transform: uppercase;
          color: #fff; }
          header nav ul li a:hover, header nav ul li a.active {
            opacity: 0.5; }
  header.scroll {
    background: #fff;
    -webkit-transition: background 300ms linear;
    -moz-transition: background 300ms linear;
    -o-transition: background 300ms linear;
    -ms-transition: background 300ms linear;
    transition: background 300ms linear; }
    header.scroll h1 a {
      background-image: url(images/logo.png); }
    header.scroll nav ul li a {
      color: #586166; }

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  width: 0;
  clear: both; }

section {
  padding: 100px 0;
  clear: both; }
  @media screen and (max-width: 767px) {
    section {
      padding: 50px 0; } }
  section.texture-bg {
    background-image: url(images/crossword.png);
    background-position: top left;
    background-repeat: repeat; }

.container {
  width: 90%;
  max-width: 1025px;
  margin: 0 auto; }

h2 {
  margin-top: 0;
  font-weight: normal;
  font-size: 28px; }

h3 {
  font-weight: 300;
  font-size: 28px;
  margin-top: 0; }

p {
  line-height: 1.4;
  margin-bottom: 0; }

a {
  text-decoration: none;
  color: #586166; }
  a.btn {
    padding: 15px 35px;
    border: 1px solid #586166;
    border-radius: 4px;
    background: #fff;
    display: inline-block; }
    a.btn:hover {
      opacity: 0.5; }

img {
  max-width: 100%;
  height: auto; }

.alignright {
  float: right;
  border-radius: 100%;
  margin-left: 2%;
  width: 23%; }

#hero {
  background-image: url(images/hero_image.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 254px 0 225px; }
  @media screen and (max-width: 767px) {
    #hero {
      padding: 150px 0 130px; } }
  #hero .hero-text {
    font-size: 28px;
    color: #fff;
    font-weight: 300;
    text-align: center;
    width: 85%;
    margin: 0 auto; }

#about .content {
  width: 75%; }
@media screen and (max-width: 768px) {
  #about {
    text-align: center; }
    #about .content {
      width: 100%; }
    #about img.alignright {
      display: block;
      width: 40%;
      margin: 0 auto 30px;
      float: none; } }

#portfolio ul {
  padding: 0;
  margin: 0;
  list-style: none; }
  #portfolio ul li {
    display: block;
    float: left;
    width: 31.3%;
    margin-left: 2%;
    margin-bottom: 2%;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-size: 0; }
    @media screen and (min-width: 768px) {
      #portfolio ul li:nth-child(3n+1) {
        margin-left: 0;
        clear: left; } }
    @media screen and (max-width: 767px) {
      #portfolio ul li {
        width: 100%;
        float: none;
        margin-bottom: 20px; } }
    #portfolio ul li a {
      display: block;
      font-size: 0; }
    #portfolio ul li img {
      border-radius: 4px; }

#contact {
  text-align: center; }
  #contact h3 {
    margin-bottom: 25px; }

footer {
  padding: 35px 0;
  text-align: center; }
  footer p {
    margin: 0;
    font-size: 12px; }

/*# sourceMappingURL=style.css.map */
