.blocks {
  margin-top: 60px;
  @media screen and (min-width: 768px) {
    @include flexbox;
  }
}
.single-block {
  text-align: center;
  position: relative;
  padding-bottom: 65px;    
  &:first-of-type {
    margin-bottom:  60px;
  }
  @media screen and (min-width: 768px) {
    width: 50%;
    padding-left: 20px;
    margin-bottom: 0;
    &:first-of-type {
      margin-bottom: 0;
      padding-left: 0;
      padding-right: 20px;
    }
  }
  img {
    border-radius: 100%;
    margin-bottom: 15px;
  }
  .btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    @include transform(translateX(-50%));
  }
}